<div class="container">
  <footer class="footer">
    <small>First Rails App by Donielle Berg</small>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li> 
        <li><%= link_to "About", about_path %></li>     
      </ul>
    </nav>
  </footer>
</div>